<div>
    <h2 style="margin-top: 60px;margin-left: 50px;">
      <i class="fa fa-id-card" aria-hidden="true"></i> <b style="margin-left: 3px;">User Profile</b>
    </h2>
    <hr style="margin-top: 0rem;">
  </div>
  
  <div class="container">
    <div class="row">
      <div class="column" style="margin-left: 10px;">
        <div class="card" style="width: 22rem;">
            <img src="./assets/handler.png" id="handlerimage"  style="width: 150px; height: 150px;margin-left: 10px;">
            <div class="card-body">
                <hr>
              <h4 class="card-title" style="margin-left: 180px;margin-top: -170px;">
                 {{userprofile?.firstName}} {{userprofile?.lastName}}
                  </h4>
                  <h6  style="margin-left: 150px;margin-top: 20px;color: grey;">
                    {{userprofile?.email}}
                     </h6>
                  <h5 style="margin-top: 120px;"> About You</h5>
              <p class="card-text" style="color: grey;">
                {{userprofile?.aboutYou}}
              </p>
            </div>
            <h5 style="margin-left: 20px;"><strong><u>Detail</u></strong></h5>
            <ul class="list-group list-group-flush">
            <li class="list-group-item"><h6>City</h6> <p style="color: grey;">{{userprofile?.city}}</p></li>
            <li class="list-group-item"><h6>Address</h6> <p style="color: grey;">{{userprofile?.address}}</p>  </li>
            </ul>
            <h5 style="margin-left: 20px;"><strong><u>Contacts</u></strong></h5>
            <ul class="list-group list-group-flush">
            <li class="list-group-item"><h6>Phone No </h6> <p style="color: grey;">{{userprofile?.phoneNo}}</p> </li>
            <li class="list-group-item"><h6>Email </h6> <p style="color: grey;">{{userprofile?.email}}</p></li>
              </ul>
          </div>
      </div>
  
       
      <div class="column" style="margin-left: -40px;margin-top: -30px;">
        <form>
            <input type="hidden"  name="userId" placeholder="Your name.." 
            #userId ="ngModel" [(ngModel)] ="userprofile.userId">
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="firstName" placeholder="FirstName .." 
          #firstName = "ngModel" [(ngModel)] ="userprofile.firstName">
          <label for="fname">Last Name</label>
          <input type="text" id="fname" name="lastName" placeholder="Last name.." 
          #lastName = "ngModel" [(ngModel)] ="userprofile.lastName">
          <label for="lname">Email</label>
          <input  type="text" id="email" name="email" placeholder="Email.."
          #email = "ngModel" [(ngModel)] ="userprofile.email">
          <label for="lname">Phone No</label>
          <input  type="text" id="lname" name="phonNo" placeholder="Phone No.."
          #phonNo = "ngModel" [(ngModel)] ="userprofile.phoneNo">
          <label for="lname">City</label>
          <input  type="text" id="lname" name="city" placeholder="City.."
          #city = "ngModel" [(ngModel)] ="userprofile.city">
          <label for="lname">Address</label>
          <input  type="text" id="lname" name="address" placeholder="Address.."
          #address = "ngModel" [(ngModel)] ="userprofile.address">
          <label>About You</label>
            <textarea type="text" id="form7" class="md-textarea form-control" name="aboutyou"  rows="5" cols="40" 
            #aboutyou = "ngModel" [(ngModel)] ="userprofile.aboutYou" ></textarea>
        </form>
    
  </div>
  </div>
  </div>
