<!-- <div>
    <h2 style="margin-top: -440px;margin-left: 50px;">
      <i class="fa fa-id-card" aria-hidden="true"></i> <b style="margin-left: 3px;">Handler Profile</b>
    </h2>
    <hr style="margin-top: 0rem;">
  </div>

<table class="table table-hover" style="margin-left: 10px;">
    <thead>
      <tr>
        <th scope="col">Parking Id</th>
        <th scope="col">Name</th>
        <th scope="col">Handler</th>
        <th scope="col">No Of Slots</th>
        <th scope="col">City</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let park of parkinglistservice?.parkinglist">
      <td>{{park?.parkingId}}</td>
      <td>{{park?.name}}</td>
      <td>{{park?.handlername}}</td>
      <td>{{park?.noofsLot}}</td>
      <td>{{park?.city}}</td>
      </tr>
    </tbody>
  </table> -->