<div class="card bg-light mb-3 shadow-sm" style="max-width: 30rem;margin-left:150px;margin-top: 120px;">
    <div class="card-header " style="background-color: #1f879e;">
      <h5 style="color: white;">
        <i class="fa fa-user"></i> Change UserName</h5>
    </div>
    <div class="card-body" style="background-color: white;">
  
        <form #form="ngForm" autocomplete="off" (submit)="onsubmit(form)">
          <div class="form-group">
  
  
            <input name="userName" #userName="ngModel" [(ngModel)]="updateusername.userName" [pattern]=emailpatten
              class="form-control" type="email" placeholder="UserName">
            <div *ngIf="userName.touched && userName.invalid" class="alert alert-danger">
              <div *ngIf="userName.errors.required">Username is required.</div>
            </div>
          </div>
  
          <div class="form-group">
            <button class="btn btn-success btn-sm btn-block" type="submit" [disabled]="form.invalid">
              <i class="fa fa-user"></i> Change UserName</button>
          </div>
        </form>
      </div>
    </div>